.header {
  height: 70px;
  background: #0083c1;
  box-shadow: 2px 2px 2px 0px rgba(5, 5, 5, 0.06);
  flex: 1 0 auto;
  display: flex;
  &-left {
    flex: 1 0 auto;
  }
  &-logo {
    flex-basis: auto;
  }
}
