:host-context(.rtl) {
  .controls-wrapper {
    &-type {
      text-align: right;
      i {
        margin-left: 10px;
      }
      select,
      input[type="text"] {
        padding-right: 5px;
      }
    }
  }
}

:host-context(.ltr) {
  .controls-wrapper {
    &-type {
      text-align: left;
      i {
        margin-right: 10px;
      }
      select,
      input[type="text"] {
        padding-left: 5px;
      }
    }
  }
}

.controls-wrapper {
  background: #fff;
  margin-top: 20px;
  padding: 15px;
  &-title {
    text-align: center;
  }
  &-handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
  }
  &-type {
    padding: 10px 0;
    input[type="text"] {
      width: 80%;
      height: 25px;
      border: none;
      outline: none;
      border: solid 1px #ccc;
      border-radius: 10px;
      color: #72777a;
    }
    select {
      width: 83.2%;
      outline: none;
      height: 29px;
      border: none;
      border: solid 1px #ccc;
      border-radius: 10px;
      padding-left: 5px;
      color: #72777a;
    }
  }
}
