.profile {
  text-align: center;
  background: #fff;
  padding: 15px;
  &-text {
    text-align: center;
  }
  &-image {
    border: 6px rgba(255, 255, 255, 0.9) solid;
    border-radius: 999px;
  }
  &-name {
    font-weight: bold;
    margin-top: 7px;
    color: #333;
    margin-bottom: 0px;
    font-size: 16px;
  }
}
